* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background-color: #dddddd;
}

.Header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: white;
    margin-top: 60px;
}

.subHeader {
    padding: 20px;
    text-align: center;
    background-color: theme('colors.towsonGold');
    margin-top: 20px;
}

.textBox {
    background-color: #FFFFFF;
    width: 100%;
    padding: 30px;
}

.Card {
    background-color: #c0c0c0;
    padding: 20px;
    margin-top: 20px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

.Footer {
    padding: 20px;
    text-align: center;
    background: #FFFFFF;
    margin-top: 20px;
}